*.pyc

# /
/.sconsign.dblite
/.sconf_temp
/config.log
/lsstManual.pdf

/latex/*.aux
/latex/*.fls
/latex/*.log
/latex/*.out
/latex/*.pdf
/latex/*.toc
/latex/lsstPackages.tex
/latex/html/

*.cfgc

/python/lsst/devenv/doc/version.py
